.manage-data-container {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.data-table {
  margin: 25px 0;
  height: 100%;
  font-size: var(--font-size-xxsmall);
  min-width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.table-controls {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table thead tr {
  background-color: var(--tertiary-color);
  text-align: left;
  font-weight: bold;
}

.data-table th,
.data-table td {
  padding: 12px 16px;
  white-space: nowrap;
}

.data-table tbody tr {
  border-bottom: 1px solid var(--quaternary-color);
}

.data-table tbody tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--tertiary-color);
}

.data-table tbody tr td button {
  padding: 5px 10px;
  font-size: var(--font-size-xxsmall);
  border-radius: 3px;
}

button {
  font-size: var(--font-size-xsmall);
  padding: 5px 10px;
}