<!-- FILEPATH: /c:/Users/tasco/Python Projects/personal-finance-app/webapp/templates/modal.html -->
{% extends "manage_data_table.html" %}

{% block form %}
<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <!-- Modal header content goes here -->
    </div>
    <div class="modal-content">
      <!-- Modal content goes here -->
    </div>
    <div class="modal-footer">
      <!-- Modal footer content goes here -->
    </div>
  </div>
</div>
<script>
  
</script>
{% endblock %}

