{% extends "base.html" %}

{% block title %}Finance Dashboard{% endblock %}

{% block content %}
<div class="home-container">
  <div class="page-title">
    <h1>Dashboard</h1>
  </div>
  <div class="card-container">
    <div class="card">
      <h5>Free Checking Bank OZK</h5>
    </div>
    <div class="card">
      <h5>EdwardJones MasterCard</h5>
    </div>
    <div class="card">
      <h5>Asset Breakdown</h5>
    </div>
    <div class="card">
      <h5>Time Series - Income and Expenses</h5>
    </div>
    <div class="card">
      <h5>Expense Breakdown</h5>
    </div>
    <div class="card">
      <h5>Net Worth</h5>
    </div>
  </div>
</div>
{% endblock %}