{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
  <div class="card">
    <h1>Free Checking Bank OZK</h1>
  </div>
  <div class="card">
    <h1>EdwardJones MasterCard</h1>
  </div>
  <div class="card">
    <h1>Asset Breakdown</h1>
  </div>
  <div class="card">
    <h1>Time Series - Income and Expenses</h1>
  </div>
  <div class="card">
    <h1>Expense Breakdown</h1>
  </div>
  <div class="card">
    <h1>Net Worth</h1>
  </div>
</div>
{% endblock %}