{% extends "base.html" %}

{% block title %}Manage Data{% endblock %}
{% block content %}
<div class="manage-data-container">
  <div class="page-title">
    <h1>Manage Data</h1>
  </div>
  <div class="table-handler-container">
    <div class="table-select-container">
      <form action="" method="post">
        <label for="table-dropdown">Select a Table:</label>
        <select name="table-dropdown">
          {% for table_name in table_names %}
          <option value="{{ table_name }}">{{ table_name }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Select">
      </form>
    </div>
  </div>
  {% block table %}
  {% endblock %}
</div>
{% endblock %}