{% extends "base.html" %}

{% block title %}Manage Data{% endblock %}
{% block content %}
<div class="manage-data-container">
  <div class="page-title">
    <h1>Manage Data</h1>
  </div>
  <div class="data-container">
    <div class="table-header">
      <div class="table-name">
        <h2>{% if table_name == None: %}Select a table{% else: %}{{ table_name }}{% endif %}</h2>
      </div>
      <div class="table-select-form">
        <form method="post" id="tableForm">
          <select name="table" class="table-select">
            <option value="">Select a table</option>
            {% for table_name in table_names %}
            <option value="{{ table_name }}">{{ table_name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    {% block table %}
    {% endblock %}
  </div>
  <div class="popup-form-container">
    <div class="popup-form" id="popup-form-edit">
      <form class="form" method="post">
        <div class="form-container">
          <div><h1>Edit</h1></div>
          {% for column_name in column_names %}
          <div class="form-group">
            <label for="{{ column_name }}">{{ column_name }}:</label>
            <input type="text" name="{{ column_name }}" class="form-control" id="{{ column_name }}" placeholder="Enter {{ column_name }}">
          </div>
          {% endfor %}
          <div class="form-buttons">
            <button type="submit" class="btn btn-default" name="edit">Submit</button>
            <button type="button" class="btn btn-default" onclick="closeFormEdit()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="popup-form" id="popup-form-add">
      <form class="form" method="post">
        <div class="form-container">
          <div><h1>Add</h1></div>
          {% for column_name in column_names %}
          <div class="form-group">
            <label for="{{ column_name }}">{{ column_name }}:</label>
            <input type="text" name="{{ column_name }}" class="form-control" id="{{ column_name }}" placeholder="Enter {{ column_name }}">
          </div>
          {% endfor %}
          <div class="form-buttons">
            <button type="submit" class="btn btn-default" name="add">Submit</button>
            <button type="button" class="btn btn-default" onclick="closeFormAdd()">Cancel</button>
          </div>
        </div>
      </form>
    </div> 
  </div>
</div>
{% endblock %}