{% extends "base.html" %}

{% block title %}Manage Data{% endblock %}
{% block content %}
<div class="manage-data-container">
  <div class="page-title">
    <h1>Manage Data</h1>
  </div>
  <div class="data-container">
    <div class="table-header">
      <div class="table-name">
        <h2>{% if table_name == None: %}Select a table{% else: %}{{ table_name }}{% endif %}</h2>
      </div>
      <div class="table-select-form">
        <form method="post" id="tableForm">
          <select name="table" id="tableSelect" onchange="handleTableSelection()">
            <option value="">Select a table</option>
            {% for table_name in table_names %}
            <option value="{{ table_name }}">{{ table_name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <div class="table-container">
      <div class="table-controls-container">
        <div class="entries-per-page">
          <label for="entries">Show:</label>
          <select name="entries" id="entries">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span>entries</span>
        </div>
        <div class="search-bar">
          <span class="material-symbols-sharp">search</span>
          <input type="text" id="search" name="search" placeholder="Search...">
        </div>
      </div>
      <div class="table">
        <table>
            <thead>
                <tr>
                    {% for column_name in column_names %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                      <div class="action-buttons">
                        <a href="#" class="edit-btn">Edit</a>
                        <a href="#" class="delete-btn">Delete</a>
                      </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="table-controls-container">
        <a href="/manage-data/add-data/{{ table_name }}" class="add-btn" onclick="openFormAdd()">Add</a>
        <div>
          <button type="button" id="prev-btn">Previous</button>
          <button type="button" id="next-btn">Next</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-form-container">
    <div class="popup-form" id="popup-form-edit">
      <form class="form" method="post">
        <div class="form-container">
          <div><h1>Edit</h1></div>
          {% for column_name in column_names %}
          <div class="form-group">
            <label for="{{ column_name }}">{{ column_name }}:</label>
            <input type="text" name="{{ column_name }}" class="form-control" id="{{ column_name }}" placeholder="Enter {{ column_name }}">
          </div>
          {% endfor %}
          <div class="form-buttons">
            <button type="submit" class="btn btn-default" name="edit">Submit</button>
            <button type="button" class="btn btn-default" onclick="closeFormEdit()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="popup-form" id="popup-form-add">
      <form class="form" method="post">
        <div class="form-container">
          <div><h1>Add</h1></div>
          {% for column_name in column_names %}
          <div class="form-group">
            <label for="{{ column_name }}">{{ column_name }}:</label>
            <input type="text" name="{{ column_name }}" class="form-control" id="{{ column_name }}" placeholder="Enter {{ column_name }}">
          </div>
          {% endfor %}
          <div class="form-buttons">
            <button type="submit" class="btn btn-default" name="add">Submit</button>
            <button type="button" class="btn btn-default" onclick="closeFormAdd()">Cancel</button>
          </div>
        </div>
      </form>
    </div> 
  </div>
</div>
<script>
  function openFormEdit() {
    document.getElementById("popup-form-edit").style.display = "block";
  }

  function closeFormEdit() {
    document.getElementById("popup-form-edit").style.display = "none";
  }

  function openFormAdd() {
    document.getElementById("popup-form-add").style.display = "block";
  }

  function closeFormAdd() {
    document.getElementById("popup-form-add").style.display = "none";
  }

  function handleTableSelection() {
    document.getElementById("tableForm").submit();
  }
</script>
{% endblock %}
