{% extends "manage_data.html" %}
{% block table %}

<div class="preview-container">
  <div class="data-container">
    <div class="table-header">
      <h2>{{ table_name }}</h2>
    </div>
    <div class="table-container">
      <div class="table-controls-container">
        <div class="entries-per-page">
          <label for="entries">Show:</label>
          <select name="entries" class="entries-process">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span>entries</span>
        </div>
        <div class="search-bar">
          <span class="material-symbols-sharp">search</span>
          <input type="text" class="search-process" name="search" placeholder="Search...">
        </div>        
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              {% for column_name in column_names %}
              <th>{{ column_name }}</th>
              {% endfor %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              {% for value in row %}
              <td>{{ value }}</td>
              {% endfor %}
              <td>
                <div class="action-buttons">
                  <button type="button" class="table-control-button" onclick="">Edit</button>
                  <button type="button" class="table-control-button" onclick="">Delete</button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table-controls-container">
        <div class="user-action">
          <form action="" method="post">
            <input type="submit" class="table-control-button" value="Add Data" name="add-data" >
          </form>
        </div>
        <div class="pagination-buttons">
          <button type="button" class="table-control-button">Previous</button>
          <button type="button" class="table-control-button">Next</button>
        </div>        
      </div>
    </div>
  </div>
</div>
<div class="js-modal modal-container">
  <div class="modal">
    <div class="modal-header">
      <h2>Edit Data</h2>
      <button class="modal-button" onclick="closeModal();">
        <span class="material-symbols-sharp">close</span>
      </button>
    </div>
    <div class="modal-content">
      <form action="">
        {% for column_name in column_names %}
        <div class="modal-input-container">
          <label class="modal-label" for="{{ column_name }}">{{ column_name }}</label>
          <input class="modal-input" type="text" name="{{ column_name }}" placeholder="{{row}}">
        </div>
        {% endfor %}
        <div class="modal-button-container">
          <button class="modal-button" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}