{% extends "process_statements.html" %}
{% block preview_table %}

<div class="preview-container">
  <div class="data-container">
    <div class="table-header">
      <h2>{{ file_name }}</h2>
    </div>
    <div class="table-container">
      <div class="table-controls-container">
        <div class="entries-per-page">
          <label for="entries">Show:</label>
          <select name="entries" class="entries-process">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span>entries</span>
        </div>
        <div class="search-bar">
          <span class="material-symbols-sharp">search</span>
          <input type="text" class="search-process" name="search" placeholder="Search...">
        </div>
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              {% for column_name in column_names %}
              <th>{{ column_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              {% for value in row %}
              <td>{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table-controls-container">
        <div class="user-action">
          <form action="" method="post">
            <input type="submit" class="table-control-button" value="Process Data" name="process-data" >
          </form>
        </div>
        <div class="pagination-buttons">
          <button type="button" class="table-control-button">Previous</button>
          <button type="button" class="table-control-button">Next</button>
        </div>
      </div>
    </div>
  </div>
  {% block processed_table %}
  {% endblock %}
</div>
{% endblock %}