{% extends "base.html" %}

{% block title %}Process Statements{% endblock %}
{% block content %}
<div class="process-statements-container">
  <div class="page-title">
  <h1>Process Statements</h1>
  </div>
  <div class="file-handler-container">
    <div class="upload-statement-container">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
    {% if files %}
    <div class="file-select-container">
      <form action="/process-statements" method="post">
        <label for="file-dropdown">Select a File:</label>
        <select name="file-dropdown">
          {% for file in files %}
          <option value="{{ file }}">{{ file }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Select">
      </form>
    </div>
    {% endif %}
  </div>
  {% block preview_table %}
  {% endblock %}
</div>
{% endblock %}