{% extends "base.html" %}

{% block title %}Process Statements{% endblock %}
{% block content %}
<div class="process-statements-container">
  <div class="page-title">
  <h1>Process Statements</h1>
  </div>
  <div class="preview-container">
    <div class="upload-statements">
      <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
      </form>
    </div>
    <div class="file-name">
      <h2>{% if filename == None: %}Upload a file{% else: %}{{ filename }}{% endif %}</h2>
    </div>
    <div class="controls-container">
      <div class="file-select-form">
        <form method="post" id="fileForm">
          <select name="filename" id="fileSelect" onchange="handleFileSelection()">
            <option value="">Select a file</option>
            {% for filename in filenames %}
            <option value="{{ filename }}">{{ filename }}</option>
            {% endfor %}
            </select>
        </form>
      </div>
      <div class="entries-per-page">
        <label for="entries">Show:</label>
        <select name="entries" id="entries">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span>entries</span>
      </div>
      <div class="search-bar">
        <span class="material-symbols-sharp">search</span>
        <input type="text" id="search" name="search" placeholder="Search...">
      </div>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="controls-container">
      <div>
        <button type="button" id="prev-btn">Previous</button>
        <button type="button" id="next-btn">Next</button>
      </div>
    </div>
  </div>
  <div class="preview-container">
    <div class="container-title">
      <h2>Process Statement</h2>
    </div>
    <div class="controls-container">
      <div class="entries-per-page">
        <label for="entries">Show:</label>
        <select name="entries" id="entries">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span>entries</span>
      </div>
      <div class="search-bar">
        <span class="material-symbols-sharp">search</span>
        <input type="text" id="search" name="search" placeholder="Search...">
      </div>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="controls-container">
      <div>
        <button type="button" id="prev-btn">Previous</button>
        <button type="button" id="next-btn">Next</button>
      </div>
    </div>
  </div>
</div>
<script>
    function handleFileSelection() {
        document.getElementById("fileForm").submit();
    }
</script>
{% endblock %}