.flash-messages {
    margin-top: 0px;
  }
  
.flash-message {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-message.success {
  background-color: #28a745;
}

.flash-message.error {
  background-color: #dc3545;
}

.remove-message {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}